<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts::header"></head>
<header th:replace="layouts::nav"></header>

<body>
<div class="container" id="chart_parent" sec:authorize="hasRole('ROLE_M')">
    <script>
        var timelineData = "[[${projectTimeList}]]"
        var chartwidth = $('#chart_parent').width();
    </script>
    <div class="col-md-12">
        <h2 class="text-center"> Project Timelines </h2>
        <div id="chart_div" style="min-height: inherit; max-height: inherit"></div>
    </div>

</div>
<script sec:authorize="hasRole('ROLE_M')" type="text/javascript" th:src="@{js/ProjectsTimeline.js}"></script>

</body>
</html>