<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts::header">
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
<div class="container" >

    <div class="card"  style="max-width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
        <h3 class="card-header">Registration Form</h3>
        <div class="card-block" style="padding: 24px;">
        <form autocomplete="off" th:action="@{/register/save}" th:object="${employee}" method="post" class="form-signin" role="form">
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control" />
                    <span class="badge badge-danger"  th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</span>

                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control" />
                    <span class="badge badge-danger"  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</span>

                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{email}" placeholder="Email" class="form-control" />
                    <span class="badge badge-danger"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</span>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
                    <span class="badge badge-danger"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</span>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <div class="col-sm-5 col-md-5">
                        <label>Choose a Role</label>
                    <select class="form-control form-control-sm" th:field="*{role}" name="roles" >
                        <option th:value="ROLE_M">Project Manager</option>
                        <option th:value="ROLE_P">Programmer</option>
                        <option th:value="ROLE_T">Tester</option>
                    </select>
                    <span class="badge badge-danger"  th:if="${#fields.hasErrors('role')}" th:errors="*{role}">role Error</span>
                    </div>
                </div>
            </div>

            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <div class="form-group">
                <div class="form-actions" style="margin-top: 12px;">
                    <button type="submit" class="btn btn-success">Register User</button>
                </div>
            </div>
            <!-- <span th:utext="${successMessage}"></span> -->
            <div class="form-group">
                <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
            </div>
        </form>
        </div>

        <div th:if="${param.success}" class="alert alert-success">
            You have successfully registered !
        </div>
    </div>
</div>
</body>
</html>