<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts::header">
    <title>Programmer board</title>
</head>
<header th:replace="layouts::nav"></header>
<body>
    <div class="d-flex justify-content-center">
        <div class="col-md-9">
            <h2 class="text-left text-secondary font-weight-bold" th:text="${currentProgrammerName+' projects'}"></h2>
            <div class="row col-md-4">
                <input id="searchInput" class="form-control form-control-sm border-success" type="text"
                       placeholder="Search Project Name"
                       aria-label="Search">
            </div>
            <br>
            <div id="ProjectsDIV">
                <div th:each="project:${allProjects}" class="list-group" th:title="${project.name}">
                    <a class="list-group-item list-group-item-action flex-column align-items-start bg-dark btn-primary border-success"
                       th:href="@{'/board/programmer/projects/'+${project.projectId}}" style="margin-bottom: 10px">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 text-success" th:text="${project.name}"></h5>
                            <small class="text-danger font-weight-bold"
                                   th:text="'Deadline: '+${project.deadline}"></small>
                        </div>
                        <p class="mb-1 text-white" th:text="${project.description}"></p>
                        <div class="d-flex w-100 justify-content-between">
                            <small class="text-success font-weight-bold"
                                   th:text="'Project Status: '+${project.status}"></small>
                            <small class="text-success font-weight-bold"
                                   th:text="'Number Of Assigned Tickets: '+${ticketsCount.get(project.projectId)}"></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
<!--Jquery search for project name-->
<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            if ($(this).val()) {
                var value = $(this).val().toLowerCase();
                $('.list-group').hide();
                $("[title*='" + value + "']").show();
            } else $('.list-group').show();
        });
    });
</script>
</body>
</html>