<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts::header">
    <title>Profile</title>
</head>
<header th:replace="layouts::nav"></header>

<body>
<div th:object="${currentUser}" class="container">
    <div class="row profile">

        <div class="col-md-8">
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Your Profile</h4>
                        <br>
                    </div>
                </div>
                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>Role:</td>
                        <td th:text="${role}"></td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td th:text="${currentUser.firstName}"></td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td th:text="${currentUser.lastName}"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><a th:text="${currentUser.email}"></a></td>
                    </tr>
                    <!--if user is a programmer or tester only-->
                    <tr sec:authorize="hasAnyRole('ROLE_P','ROLE_T')">
                        <td>Total Number Of Projects:</td>
                        <td th:text="${currentUser.projects.size()}"></td>
                    </tr>
                    <tr sec:authorize="hasRole('ROLE_P')">
                        <td>Total Number Of Tickets:</td>
                        <td th:text="${currentUser.tickets.size()}"></td>
                    </tr>
                    <tr sec:authorize="hasRole('ROLE_T')">
                        <td>Total Number Of Created Bugs:</td>
                        <td th:text="${currentUser.bugs.size()}"></td>
                    </tr>
                    <tr sec:authorize="hasRole('ROLE_P')">
                        <td>Total Number Of Comments:</td>
                        <td th:text="${currentUser.comments.size()}"></td>
                    </tr>
                    <!---->
                    <!--if user is a project manager-->
                    <tr sec:authorize="hasRole('ROLE_M')">
                        <td>Total Created Projects:</td>
                        <td th:text="${numberOfManagerProjects}"></td>
                    </tr>
                    <tr sec:authorize="hasRole('ROLE_M')">
                        <td>Total Created Tickets:</td>
                        <td th:text="${numberOfManagerTickets}"></td>
                    </tr>
                    <!---->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <canvas id="myPieChart" height="75" width="75"></canvas>
            <script>
                var pieData = "[[${StatusCount}]]"
            </script>
        </div>
    </div>
</div>
<script sec:authorize="hasRole('ROLE_M')" type="text/javascript" th:src="@{js/ManagerPieChart.js}"></script>
<script sec:authorize="hasRole('ROLE_P')" type="text/javascript" th:src="@{js/ProgrammerPieChart.js}"></script>
<script sec:authorize="hasRole('ROLE_T')" type="text/javascript" th:src="@{js/TesterPieChart.js}"></script>

</body>
</html>