<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts::header">
    <title>Bug Details</title>
    <header th:replace="layouts::nav"></header>
<body>
<div class="container">
    <div th:object="${bug}" class="card text-center">
        <div class="card-header border-danger">
            <h4 th:text="${'Severity: '+bug.severity}"></h4>
        </div>
        <div class="card-body">
            <h5 class="card-title" th:text="${'Tester: '+testerName}"></h5>
            <p class="card-text font-weight-bold" th:text="${bug.description}"></p>
            <a th:if="${!bug.fixed}" th:href="@{/board/programmer/projects/tickets/bugs/fix(prId=${projectId},tId=${ticketId},bugId=${bugId})}"
               onclick="if (!(confirm('Mark Bug As Fixed ?'))) return false" class="btn btn-secondary">Mark As Fixed ?</a>
            <h5 th:if="${bug.fixed}" class="text-success">This Bug Has Been Fixed</h5>
        </div>
        <div class="card-footer border-danger text-muted" th:text="${'Date Created: '+bug.createdDate}">
        </div>
    </div>
</div>
</body>
</html>