<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts::header">
    <title>ticket Details</title>
    <header th:replace="layouts::nav"></header>
<body>
<div class="container" th:if="${ticket.status!='COMPLETED'}">
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table id="bugTable" class="table table-sm table-dark table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Bug Description</th>
                        <th>Created Date</th>
                        <th>Severity</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bug: ${allBugs}">
                        <td th:text="${bug.description}"></td>
                        <td th:text="${bug.createdDate}"></td>
                        <td th:text="${bug.severity}"></td>
                        <td class="text-danger" th:if="${!bug.fixed}" th:text="'Not Fixed'"></td>
                        <td class="text-success" th:if="${bug.fixed}" th:text="'Fixed'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <h4 class="text-center text-danger">Found a bug ?</h4>
            <form id="bugForm" th:action="'/board/tester/projects/'+${projectId}+'/tickets/'+${ticketId}+'/bug/save'"
                  th:object="${bug}" method="POST" enctype="multipart/form-data">

                <div style="margin-top: 10px">
                    <span class="badge badge-primary">Enter Bug Description</span>
                    <textarea class="form-control" placeholder="Enter Bug Description" th:field="${bug.description}"
                              style="resize: none"></textarea>
                    <span class="badge badge-danger" th:if="${#fields.hasErrors('description')}"
                          th:errors="*{description}">description Error</span>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-6">
                        <span class="badge badge-primary">Choose bug severity</span>
                        <select class="form-control form-control-sm" th:field="*{severity}">
                            <option th:value="LOW">LOW</option>
                            <option th:value="AVERAGE">AVERAGE</option>
                            <option th:value="CRITICAL">CRITICAL</option>
                        </select>
                        <span class="badge badge-danger" th:if="${#fields.hasErrors('severity')}"
                              th:errors="*{severity}">severity Error</span>
                    </div>
                </div>
                <!--image file-->
                <div class="custom-file" style="margin-bottom: 20px;margin-top: 10px">
                    <label id="file-label" class="custom-file-label" for="validatedCustomFile">add an image...</label>
                    <input type="file" class="custom-file-input" name="file" id="validatedCustomFile"
                           accept=".png, .jpg, .jpeg, .gif">
                    <span class="badge badge-danger" th:if="${imageError!=null}" th:text="${imageError}"></span>
                </div>

                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button id="sub-bt" class="btn btn-success" style="margin-top: 10px" type="submit">Submit</button>
            </form>
            <div th:if="${param.error}" class="alert alert-danger">
                Error !
            </div>
        </div>
    </div>
</div>

<script>
    if ("[[${bugSaved}]]"){
        iziToast.show({
            title: 'a new bug',
            message: 'has been submitted',
            position: 'topRight',
            color:'green',
            icon: 'fas fa-check'
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('#bugTable').DataTable();
    });
    $('#bugForm').submit(function () {
        document.getElementById('sub-bt').disabled=true;
        if (document.getElementById("validatedCustomFile").files.length == 0) {
            iziToast.show({
                title: 'Error',
                message: 'choose a screenshot first',
                position: 'topRight',
                color:'red',
                icon: 'fas fa-times'
            });
            document.getElementById('sub-bt').disabled=false;
            return false;
        }
    });
    $('#validatedCustomFile').on('change', function () {
        files = $(this)[0].files;
        name = '';
        for (var i = 0; i < files.length; i++) {
            name += '\"' + files[i].name + '\"' + (i != files.length - 1 ? ", " : "");
        }
        $(".custom-file-label").html(name);
    });
</script>
</body>
</html>