<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/97dee70f85.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--chart links-->

    <!-- this is for selectpicker Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>
<body>

<!-- Fragment #2 : Navbar contains nav links -->
<div th:fragment="nav" style="margin-bottom: 1%">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Bug Tracker</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link"  th:href="@{/dashboard}" ><i class="fa fa-home"></i>Home</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="#"  th:href="@{/profile}" >Profile</a>
                </li>
                <li sec:authorize="hasRole('ROLE_A')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/board/admin}" >Admin Board</a>
                </li>
                <li sec:authorize="hasRole('ROLE_M')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/board/manager}" >Manager Board</a>
                </li>
                <li sec:authorize="hasRole('ROLE_P')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/board/programmer}" >Programmer Board</a>
                </li>
                <li sec:authorize="hasRole('ROLE_T')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/board/tester}" >Tester Board</a>
                </li>
            </ul>
            <a  sec:authorize="isAuthenticated()" class="btn btn-danger btn-sm" th:href="@{/logout}" role="button" >Sign out</a>

        </div>
    </nav>
</div>
</body>
</html>