<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts::header">
    <title>project Details</title>
</head>
<header th:replace="layouts::nav"></header>
<body>
<div class="container">
    <h3>Project tickets</h3>
    <div class="group-form row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-sm table-dark table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Ticket Name</th>
                        <th>Ticket Stage</th>
                        <th>Ticket Priority</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ticket: ${tickets}">
                        <td><a class="text-warning" th:text="${ticket.name}" th:value="${ticket.ticketId}"
                               th:href="@{'/board/manager/projects/'+${projectId}+'/tickets/'+${ticket.ticketId}}"></a>
                        </td>
                        <td th:text="${ticket.status}"></td>
                        <td th:text="${ticket.priority}"></td>
                        <td>
                            <a th:href="@{'/board/manager/projects/'+${project.projectId}+'/tickets/'+delete(ticketId=${ticket.ticketId})}"
                               onclick="if (!(confirm('Are you sure you want to delete ?'))) return false"
                               class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                            <a th:href="@{'/board/manager/projects/'+${project.projectId}+'/tickets/'+update(ticketId=${ticket.ticketId})}"
                               class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <form th:action="'/board/manager/projects/'+${projectId}+'/tickets/save'" th:object="${ticket}"
                  method="POST">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="hidden" th:field="${ticket.ticketId}">
                        <span class="badge badge-primary">enter ticket name</span>
                        <input class="form-control form-control-sm" type="text" placeholder="Ticket Name"
                               th:field="${ticket.name}">
                        <span class="badge badge-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
                    </div>
                    <div class="col-sm-6">
                        <span class="badge badge-primary">choose ticket priority</span>
                        <select class="form-control form-control-sm" th:field="${ticket.priority}">
                            <option th:value="HIGH"> High</option>
                            <option th:value="AVERAGE"> Average</option>
                            <option th:value="LOW"> Low</option>
                        </select>
                        <span class="badge badge-danger" th:if="${#fields.hasErrors('priority')}"
                              th:errors="*{priority}">priority Error</span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <span class="badge badge-primary">choose a programmer</span>
                        <select class="form-control form-control-sm" th:field="*{employeeId}">
                            <option th:each="employee: ${allEmployees}"
                                    th:value="${employee.employeeId}"
                                    th:text="${employee.firstName}">
                            </option>
                        </select>
                        <span class="badge badge-danger" th:if="${#fields.hasErrors('employeeId')}"
                              th:errors="*{employeeId}">employees Error</span>
                    </div>
                    <div th:if="${newOrOld=='old'}" class="col-sm-6">
                        <input class="form-control form-control-sm" type="hidden" th:value="${ticket.status}"
                               th:field="${ticket.status}" readonly>
                        <span class="badge badge-danger" th:if="${#fields.hasErrors('status')}"
                              th:errors="*{status}">status Error</span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <span class="badge badge-primary">enter ticket description</span>
                        <textarea class="form-control" placeholder="Enter Ticket Description"
                                  th:field="${ticket.description}" style="resize: none"></textarea>
                        <span class="badge badge-danger" th:if="${#fields.hasErrors('description')}"
                              th:errors="*{description}">description Error</span>
                    </div>
                </div>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <div class="col-sm-6">
                    <button class="btn btn-success" type="submit">Create Ticket</button>
                </div>
            </form>
        </div>
    </div>
    <div class="group-form row">
        <div class="col-md-4">
            <div th:if="${param.success}" class="alert alert-success">
                Submission Completed Successfully !
            </div>

        </div>
    </div>

    <div th:object="${project}" class="container" style="margin-top: 5%; margin-bottom: 5%">
        <div class="row bg-dark" style="min-height:100px;text-align:center; align-items: center;">
            <div class="col-md-3">
                <h6 class="text-white">Project Name : </h6>
                <h6 class="text-info" th:text="${project.name}"></h6>
            </div>
            <div th:if="${project.status=='NOT STARTED'}" class="col-md-3">
                <h6 class="text-white">Project Not started yet !</h6>
                <a th:href="@{/board/manager/projects/start(prId=${projectId})}"
                   onclick="if (!(confirm('start the project ?'))) return false" class="btn btn-success">Start the
                    Project !</a>
            </div>
            <div th:unless="${project.status=='NOT STARTED'}" class="col-md-3">
                <h6 class="text-white">Project Status : </h6>
                <h6 class="text-success" th:text="${project.status}"></h6>
            </div>
            <div class="col-md-3">
                <h6 class="text-white">Project created : </h6>
                <h6 class="text-success" th:text="${project.createdDate}"></h6>
            </div>
            <div class="col-md-3">
                <h6 class="text-white">Number of uncompleted tickets : </h6>
                <h6 class="text-success" th:text="${uncompletedTickets.size()}"></h6>
            </div>
        </div>
    </div>
</div>
</body>
</html>